/*FONT-FACE*/
@font-face {
	font-family: aniron;
	src: url(aniron.ttf);
  }

  @font-face{
	  font-family: tengwar;
	  src: url(tngan.ttf);
  }

.symbol{
	font-family: tengwar;
}

@font-face{
	font-family: partybusiness;
	src: url(partybusiness.ttf);
}

/****** NAV *********/
.bg-light {
    background-color: #f46500!important;
}

h1{
	color: white;
	font-family: aniron;
}

h2{
	color: black;
	font-family: aniron;
}

h3{
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: aniron;
}

p{
	color: black;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background-color: white;
}

a.nav-link {
    text-align: center;
}


/*****************BODY***********************/
body{
	font-family: partybusiness;
	font-size: 1.5em;
}
.container-style{
	padding-left: 20px;
	padding-right: 20px;
}
.badge-secondary {
    padding: 14px;
	font-size: 1em;
	margin: 8px;
	margin-bottom: 25px;
	color: #545454 !important;
	background-color: white !important;
}

.center-items{
	display: flex;
	justify-content: center;
	margin-left: 25px;
	margin-right: 25px;
}

/************EXTRAS************/
.boton-center {
    margin: 0 auto;
    display: flex;
}


/**********CARDS************/

.card img{
	opacity: 0.3;
}

.card img:hover {
  	
	opacity: 1.0;
}

.card img:hover + .reward{
	visibility: hidden;
}

.reward {
    width: 80%;
	height: 100px;
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10%;
    top: 30%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
	border-radius: 10px;
}

.texte {
    font-weight: bold;
	position: absolute;
    bottom: 50%;
    top: 50%;
    left: 25%;
	text-align: center;
	font-size: 3em;
	color: white;
	visibility: hidden;
}

.card:hover .texte{
	visibility: visible;
}

span{
	color:#ff5004;

}

/**********FOOTER******/
footer{
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	padding: 25px;
	margin-top: 25px;
}

footer ul{
	display: flex-column;
	justify-content: center;
	list-style-type: none;
}








	