/*FONT-FACE*/
@font-face {
	font-family: aniron;
	src: url(aniron.ttf);
  }

  @font-face{
	  font-family: tengwar;
	  src: url(tngan.ttf);
  }

.symbol{
	font-family: tengwar;
}

@font-face{
	font-family: partybusiness;
	src: url(partybusiness.ttf);
}

/*CAROUSEL*/
.carousel-caption p{
	color: #f46500;
	font-size: 1em;
}

/*NAV*/
a.nav-link {
    margin-right: 22px;
}

.bg-light {
    background-color: #f46500!important;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background-color: white;
}

a.nav-link {
    text-align: center;
}


/*BODY*/
body{
	font-family: partybusiness;
	font-size: 1.5em;
}

.badge-secondary {
    padding: 14px;
	font-size: 1em;
	margin: 8px;
	margin-bottom: 25px;
	color: #545454 !important;
	background-color: white !important;
}

.center-items{
	display: flex;
	justify-content: center;
	margin-left: 25px;
	margin-right: 25px;
}

/* SECTIONS*/
section{
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#section-2, #section-5, #section-7{
	background-image: url(img/dark-honeycomb.png);
}

#section-5 h3, #section-7 h3, #section-2 h3{
	color: white;
}

#section-2 p{
	color: white;
}

h1{
	color: white;
	font-family: aniron;
	margin-right: 10px;
}

h2{
	color: white;
	font-family: aniron;
}

h3{
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: aniron;
}

p{
	color: black;
}

/*EXTRAS*/
.media img{
	max-width: 40%;
}

.media-body{
	font-size: 75%;
}

.boton-center {
    margin: 0 auto;
    display: flex;
}

footer a{
	color: #f56300!important;
}

.badge:hover{
	background-color:  #f56300!important;
}

button{
	background-color: #f56300!important;
	padding: 10px!important;
}

/*CARDS*/
.card{
	border: 1px solid rgba(253, 131, 0, 0.54)!important;
	padding: 4px;
}

.card-body{
	background-image: url(img/dark-honeycomb.png);
}

.card-body p{
	color: white;
}

.card-header{
	background-color: rgb(224, 101, 0)!important;
}

.card.section-part {
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.container-personage img{
	opacity: 0.3;
}

.container-personage img:hover {
  	
	opacity: 1.0;
}

.container-personage img:hover + .reward{
	visibility: hidden;
}

.reward {
    width: 80%;
	height: 100px;
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10%;
    top: 30%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
	border-radius: 10px;
}

.texte {
    font-weight: bold;
	position: absolute;
    bottom: 50%;
    top: 50%;
    left: 25%;
	text-align: center;
	font-size: 3.5em;
	color: white;
	visibility: hidden;
}

.card:hover .texte{
	visibility: visible;
}

span{
	color:#ff5004;

}

/*FOOTER*/
footer{
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	padding: 25px;
}

footer ul{
	display: flex-column;
	justify-content: center;
	list-style-type: none;
}








	